/.bash_history*
/output/
/tutorweb-box/base/root/etc/phonehome/id_rsa
/tutorweb-box/base/root/etc/phonehome/id_rsa.pub
/tutorweb-box/base/root/etc/phonehome/known_hosts
/twpasswd
/kalite-bundle.deb
/kiwix-linux-x86_64.tar.bz2
