# Bridge and loopback get left alone
SUBSYSTEM=="net", KERNEL=="br*", GOTO="persistent_net_end"
SUBSYSTEM=="net", KERNEL=="lo", GOTO="persistent_net_end"

# Internal network port (e1000e - NUC, e1000 - QEMU)
SUBSYSTEM=="net", DRIVERS=="e1000e", NAME="int0", GOTO="persistent_net_end"
SUBSYSTEM=="net", DRIVERS=="e1000",  NAME="int0", GOTO="persistent_net_end"

# Internal wifi card
SUBSYSTEM=="net", DRIVERS=="iwlwifi", NAME="wlan0", GOTO="persistent_net_end"

# USB modem used for extra access point
SUBSYSTEM=="net", DRIVERS=="usb", ATTR{address}=="1a:ff:0f:fe:10:22", \
    NAME="int1", GOTO="persistent_net_end"

# USB devices are consided external access
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="usb", NAME="wwan%n", GOTO="persistent_net_end"

# Anything else is unknown
SUBSYSTEM=="net", ACTION=="add", NAME="other%n", GOTO="persistent_net_end"
LABEL="persistent_net_end"
