[Unit]
Description=Phone Home Reverse SSH Service
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=nobody
ExecStart=/usr/bin/ssh -NTC \
    -o ServerAliveInterval=60 \
    -o ExitOnForwardFailure=yes \
    -o UserKnownHostsFile=/run/phonehome/known_hosts \
    -i /run/phonehome/id_rsa \
    -F /run/phonehome/config \
    phonehome

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=300
Restart=always

[Install]
WantedBy=multi-user.target
