[Unit]
Description=Setup host
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/etc/sethost/sethost
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=basic.target
