h1 {
    text-align: center;
}
h1 img {
    max-width: 80%;
}

div.links {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    text-align: center;
}
div.links > a {
    display: inline-block;
    padding: 3em 1em;
    min-width: 10em;
    list-style-type: none;
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 10px;
}
div.links > a:hover,
div.links > a:active {
    background: #EEE;
}
