[Unit]
Description=SMLYcoin
After=network.target

[Service]
ExecStart=/srv/tutorweb.smileycoin/src/smileycoind -datadir=/var/host/current/smly --server -printtoconsole
User=smly
Group=nogroup

[Install]
WantedBy=multi-user.target
Alias=smly.service
