[Unit]
Description=SMLYcoin
After=network.target

[Service]
ExecStart=/usr/local/bin/smileycoind -datadir=/var/lib/smly --server -printtoconsole
User=smly
Group=nogroup

[Install]
WantedBy=multi-user.target
Alias=smly.service
